.buyer-list-page{
    margin: .5em;
}

.buyerCard {
    margin:1em;
    padding: .6em;
    border-radius: 10px;
    border: 1px solid black;
    transition: transform 0.2s;
    transition: background-color 0.2;
}

.buyerCard:hover{
    transform: scale(1.02);
    cursor: pointer;
    background-color: rgba(0,0,0,.04);
}

.buyer-list-item {
    padding-left: 0;
    list-style: none;
}
.buyer-list-item li{
    justify-content: left;
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-left:20px
}

.buyer-list-item h3 {
    margin-right: 10px;
}


.uuid {
    margin:0;
    color: rgba(0,0,0,.5)
}


/* overwrites li styling on the first li to shift uid to the right*/
.buyer-list-item li:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head h2 {
    margin-top: 0;
    margin-bottom: 0;
}