

.time-container {
    display: inline;


  }



.booking-date{
    width: 150px;
}

    
  


 .bookingList{

    background-color: red;
    
    
 }

.bookingForm{
    background-color: pink;
    
}

.time-container select{
    width: 100px;
    display: inline;
}
ul{
    list-style: none;
    padding: 0px;
}



.returnDiv{
    display: inline-block;
    text-align: center;
    
    
}

.calendar-booking input{
    width: 200px;
    height: 30px;
}


