body {
    font:12pt sans-serif;
}

.form-container {
    text-align:center;
    display:inline-block;
    margin:0, auto;
    width:60vw;
    border:1px solid black;
    padding:20px;
    background-color:#D3DADA;
    border-radius:1em;
    color:#1B3954;
}

@media only screen and (min-width: 768px) {
    .form-container {
        width:30vw;
    }

    .form-container > form > div > input{
        width:50% !important;
    }
}


.form-container > form > div {
    display:inline-block;
    width:100%;
}

.form-container > form > div > input {
    margin-bottom:10px;
    width: calc(100% - 3em)
}

.form-button {
    background-color:#1B3954;
    color:  #DCAD99;
    margin-top:20px;
    text-align: center;
    font-weight:bold;
    cursor:pointer;
    padding:1em;
    width:30%;
    border:1px solid black;
}

.form-button:hover {
    background-color:#DCAD99;
    color:#1B3954;
}


/* HomePage Styling */

.home-page-containers {
    margin: 1%;
    justify-content: flex-start;
    padding: 1%;
}

.home-page-row {
    display: flex;
    flex-direction: row;
    padding: 1%;
}

.home-page-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    margin: 1%;
    border-radius: 10px;
    height: 20em;
}

.column1 {
    background-color: rgb(84, 84, 126);
    flex-grow: 20;
  }
  
.column2 {
   background-color: rgb(0, 81, 128);
   flex-grow: 10;
}

.company-name {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;
    color: #1B3954;
    margin: 1%;
    width: 100%;
    text-align: start;
}

.title-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5em;
    color: #1B3954;
    margin: 1%;
    padding: 1%;
}

.about-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    color: #1B3954;
    text-align: justify;
}

.heading-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    color: #fcfcfd;
    margin: 1%;
    padding: 3%;
}

.info-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    color:#1B3954;
    margin-left: 1%;
    padding: 1%;
    padding-right: 25%;
    font-weight: bold;
    text-align: justify;
}

.info-link{
    color:#1B3954;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;  
}

.button-link {
    background-color: #5DCAD1; 
    border: none;
    color:#1B3954;
    margin: 10%;
    padding: 15px 32px;
    text-align: center;
    border-radius: 10px;
    font-size: 1em;
  }

  .button-link:hover {
    background-color: #1B3954; 
    color:#5DCAD1;
    cursor:pointer;
  }

  .recently-added {
    background: url('../assets/houses/house-540796_640.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x:hidden;
    /* justify-content: center; */
    /* height:auto; */
    width:100%;
}

.recently-sold {
    background: url('../assets/houses/home-1597079_640.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x:hidden;
    /* justify-content: center; */
    /* height:auto; */
    width:100%;
}

.property-container {
    background: url('../assets/property-image.PNG');
    background-repeat: no-repeat;
    background-size: cover;
    /* overflow-x:hidden; */
    /* justify-content: center; */
    /* height:auto; */
    width:100%;
}
.buyer-container {
    background: url('../assets/buyer-image.PNG');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x:hidden;
    /* justify-content: center; */
    /* height:auto; */
    width:100%;
    
}
.seller-container {
    background: url('../assets/seller-image.PNG');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x:hidden;
    /* justify-content: center; */
    /* height:auto; */
    width:100%;
}

/* Placehold media query section for different screen sizes */
@media screen and (max-width:1000px){

    #hiddenFeature {
        display: none;
    }
    
    /* .home-page-containers {
        flex-wrap: wrap;
    } */

    .home-page-row {
        /* flex-wrap: wrap; */
        flex-direction: column;
    }
    .home-page-column {
        flex-wrap: wrap;
    }

}


/* Property list styling */


/* add property styling */

.add-property-container{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 60vw;
    background-color: #D3DADA;
    padding: 1em;
    border-radius: 15px;
    color: #1B3954;
    border:1px solid black;
    text-align:center;
    
    
}
/* Style inputs */
.add-property-form input[type=text], select,input[type=number], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  /* Style the submit button */
  .add-property-form [type=submit] {
    width: 100%;
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  /* Add a background color to the submit button on mouse-over */
  .add-property-form  input[type=submit]:hover {
    background-color: #45a049;
  }

  #close-add-property{
        width: 100%;
        background-color: red;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: 0.5s;
      
  }
  #close-add-property:hover{
    width: 100%;
    background-color: darkred;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  
}

.manage-property-delete{
    background-color: red;
    color: white;
    font-weight: 1000;
    border-radius: 15px;
    transition: 0.25s;
}
.manage-property-delete:hover{
    background-color: darkred;
    color: white;
    font-weight: 1000;
    border-radius: 15px;
}


.manage-property-status{
    background-color: green;
    color: white;
    font-weight: 1000;
    border-radius: 15px;
    transition: 0.25s;
    
}
.manage-property-status:hover{
    background-color: darkgreen;
    color: white;
    font-weight: 1000;
    border-radius: 15px;
    
}
.manage-property-edit{
    background-color: orange;
    color: white;
    font-weight: 1000;
    border-radius: 15px;
    transition: 0.25s;
    
}
.manage-property-edit:hover{
    background-color: #fc6f03;
    color: white;
    font-weight: 1000;
    border-radius: 15px;
    transition: 0.25s;
    
}

 /* input[type=text],select,input[type=number], textarea, input {
   width:40%;
   padding: 0;
   margin: 0;
   display: inline-block;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
  } */
.ppt-content{
    
    background-color: #D3DADA;
    color:  #1B3954;
    border-radius: 0.5em;
    padding: 1em;
    font-size: 1em;
  
}
  .ppt-content input,.ppt-content select{ 
    
    width:40%;
    padding: 0;
    margin: 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
/* 
  .add-property-container{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 60vw;
    background-color: #D3DADA;
    padding: 1em;
    border-radius: 15px;
    color: #1B3954;
    border:1px solid black;
    text-align:center;
    
    
} */