body {
    font:12pt sans-serif;
}

.form-container {
    text-align:center;
    display:inline-block;
    margin:0, auto;
    width:20vw;
    border:1px solid black;
}

.form-container > div {
    display:inline-block;
    width:100%;
}

.form-button {
    background-color:aquamarine;
    margin:0, auto;
    text-align: center;
    font-weight:bold;
    cursor:pointer;
    padding:1em;
    width:30%;
    border:1px solid black;
}

.form-button:hover {
    background-color:pink;
}
