body {
    font:12pt sans-serif;
}

.form-container {
    text-align:center;
    display:inline-block;
    margin:0, auto;
    width:20vw;
    border:1px solid black;
}

.form-container > div {
    display:inline-block;
    width:100%;
}

.form-button {
    background-color:aquamarine;
    margin:0, auto;
    text-align: center;
    font-weight:bold;
    cursor:pointer;
    padding:1em;
    width:30%;
    border:1px solid black;
}

.form-button:hover {
    background-color:pink;
}

/* NavBar Styling */

.nav-bar{
    /* background-color: rgba(55, 135, 215, 0.844); */
    /* color: white; */
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    vertical-align: middle;

}

.nav-bar ul{
    margin: 0;
    vertical-align: middle;
}

.nav-bar li{
    margin: 2%;
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
}

.link{
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    
}


#firstNav {
    margin-left: 0%;
    padding-left: 0%;
    margin-right: 5%;
}

#lastNav {
    margin-left: 10%;
}

#logo {
    margin: 0;
    width: 7em;
}

/* Placehold media query section for different screen sizes */
@media screen and (max-width:800px){
    #hiddenNav {
        display: none;
    }
}

/* Property list styling */
.property-list-page{
    text-align: center;
    display: flex;
    flex-direction: column;
    
    
}
.property-list-item{
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    width: 50%;
    background-color: lightblue;
    margin: 0 auto;
    border-radius: 10px;
    
}
#add-property-click{
    text-align: center;
    background-color: red;
    color: white;
    margin-top: 1em;
    transition: 0.5s;
}
#add-property-click:hover{
    
    text-align: center;
    background-color: darkred;
    color: whitesmoke;
    margin-top: 1em;
    cursor: pointer;
}

/* add property styling */

.add-property-container{
    
}