.footer-container {
    display:flex;
    background-color: #1B3954;
    color:#fff;
    justify-content: center;
    align-items: top;
    margin-top:6em;
}

.footer-content {
    width:20%;
    display:inline-block;
    margin: 1em;
    text-align:center;
}

.footer-content > ul {
    list-style-type:none;
}

.footer-content > img {
    width:50px;
    margin:5px;
    filter: brightness(0) invert(1);
    transition: linear 0.8s;
}

.footer-content > img:hover {
    opacity: 0.5;
}