  body {
    background-color: #fff;
  }
  
  .image {
    grid-area: image;
  }

  .image img {
    max-width: 100%;
    object-fit:contain;
  }
  
  .content {
    grid-area: content;
    position: relative;
  }

  .description {
    grid-area: description;
  }
  
  .title {
    grid-area: title;
  }


.FORSALE, .SOLD {
      display: grid;
      width:80vw;
      grid-gap: 0.5em;
      grid-template-columns: 20% 30% 50%;
      grid-template-areas:
      "title  title  title"
      "image content description";
      background-color: #fff;
      color: #444;
      margin-bottom:3em;
      margin-left:auto;
      margin-right:auto;
} 

.SOLD {
  opacity: 0.5;
}
  
.LISTED, .UNLISTED {
  display: grid;
  width:80vw;
  grid-gap: 0.5em;
  grid-template-columns: 20% 30% 50%;
  grid-template-areas:
  "title  title  title"
  "image content description";
  background-color: #fff;
  color: #444;
  margin-bottom:3em;
  margin-left:auto;
  margin-right:auto;
} 

.UNLISTED {
opacity: 0.5;
}
  
  .ppt {
    background-color: #D3DADA;
    color:  #1B3954;
    border-radius: 0.5em;
    padding: 1em;
    font-size: 1em;
  }

  .title {
    background-color:  #1B3954;
    color:  #DCAD99;
  }

  .title h1 {
    color: #5DCAD1;
    display: inline;
  }

  .manage-link {
    /* display: inline-block; */
    float: right;
    text-align:right;
    margin:0;
    font-size:0.8em;
    color:  #fff;
    text-decoration: none;
  }

  .manage-link:hover {
    text-decoration: underline;
  }


#add-property-container{
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
#add-property-click{
    text-align: center;
    background-color: red;
    color: white;
    transition: 0.5s;
    padding: 1em 0;
    width:30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 10px;
}
#add-property-click:hover{
    
    text-align: center;
    background-color: darkred;
    color: whitesmoke; 
    cursor: pointer;
    padding: 1em 0;
    width:30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    border-radius: 10px;
}

.property-sort-querries{
  margin: 0.5em;
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 1em;
}
.property-list-svg{
  width:1.5em;
  height:1.5em;
  
}

.property-settings-img {
  width: 2em;
  height: 2em;
  filter: brightness(0) invert(1);
  /* display: inline-block; */
  float: right;
  margin-right:0;
}


@media screen and (max-width:1000px){
  .FORSALE, .SOLD {
    display: block;
  }

  .title, .description, .content {
    margin-top:1em;
  }
} 
.property-list-container{
  margin-top: 1em;
}
